* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /background-color: #3E5C4B;/
    background-color: #F5F2E7;
}

header {
    background-color: #8B5E3C;
    height: 140px;
}

header h1 {
    text-align: center;
    line-height: 100px;
    font-family: "Playfair Display", serif;
}

nav ul {
    /background-color: #4A90A4;/
    background-color: #3E5C4B;
    font-family: "Lato", sans-serif;
    font-size: 1.1rem;
    height: 40px;
    line-height: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: blue;
}

main {
    margin: 10px;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    font-family: "Merriweather", serif;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 10px;
}

.galeria img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.galeria img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

footer {
    font-family: "Roboto", sans-serif;
    text-align: center;
}

footer p a {
    text-decoration: none;
}

footer a:hover {
    color: #4A90A4;
}