@charset "UTF-8";

body {
    background-color: black;
    color: white;
}

h1 {
    margin: 0px;
    padding: 10px   ;
    text-align: center;
    background-color: rgba(203, 130, 35, 0.627);
    width: 80%;
    max-width: 600px;
}