@charset "UTF-8";

body {
    background-color: black;
    color: white;
    margin: 0px;
}

header {
    background-color: rgba(203, 130, 35, 0.627);
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Não sei para que serve (peguei do chat gpt) */
}

header > h1 {
    margin: 10px;
    padding-left: 8px;
}

main {
    margin-top: 40px;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
